@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #f59e0b;
  --color-primary-dark: #d97706;
  --color-bg: #030712;
  --color-surface: #111827;
  --color-border: #1f2937;
  --color-danger: #ef4444;
  --color-success: #22c55e;
}
